# We don't need .git directory as of now as we don't run any `git`
# commands or need any git related details as part of the docker build
.git

.gitignore

README.md

.github

Dockerfile

Dockerfile.debug

.vscode

.dockerignore

CONTRIBUTING.md

references.md
